// A single color picker (colored squere including the )
.CardColorPicker {
  cursor: pointer;
  .swatch {
    box-shadow: rgb(180,180,180) 2px 2px 4px;
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }

  .swatch.Selecting {
    border: 2px solid rgb(210,210,210);
  }

  .swatch.Selecting:hover {
    border: 2px solid white;
  }
}
