.CardColorPicker {
  cursor: pointer;
  
  .swatch {
    width: 34px;
    height: 32px;
    margin-right: 10px;
  }

  .swatch.Selecting {
    border: 2px solid rgb(210,210,210);
  }

  .swatch.Selecting:hover {
    border: 2px solid white;
  }
}
