.Clue {
  width: 30px;
  height: 30px;
  padding: 2px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

  .Dot {
    width: 10px; height: 10px;
    margin: 2px 2px;
    border-radius: 50%;
    background: white;
    border: 1px solid black;
  }

  .Dot.Exactly {
    background: black;
  }

}

