.Guess {
  display: grid;
  grid-template-columns: auto 40px 40px 40px 40px 40px auto; /* 2 */

  margin-top: 1rem;
  margin-bottom: .5rem;
  .swatch {
    width: 34px;
    height: 32px;
    margin-right: 10px;
    box-shadow: rgb(180,180,180) 2px 2px 4px;
  }
  
  .swatch:nth-child(1) {
    grid-column-start: 2;
  }
}
