.Guess {
  padding-bottom: .5rem;
  padding-top: .5rem;
  
  display: grid;
  grid-template-columns: auto 40px 40px 40px 40px 40px auto; /* 2 */
  
  .swatch {
    width: 34px;
    height: 32px;
    margin-right: 10px;
    box-shadow: rgb(205,205,250) 1px 1px 6px;
  }
  
  .swatch:nth-child(1) {
    grid-column-start: 2;
  }
  
  &.theirs {
    background: rgb(240, 240, 240);
    .swatch {
      opacity: 0.85;
    }
  }
}
